<div class="card-container">
    <div class="card">
      <p-card header="Vitimologia" class="card-principal">
        <div class="card-content">
          <p-stepper>
            <p-stepperPanel header="Dados Motorista">
              <ng-template pTemplate="content" let-nextCallback="nextCallback">
                <div class="flex flex-column h-12rem">
                  <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    <!-- Content here -->


                    <div class="input-group">
                      <div class="input flex-column align-items-start">
                        <label for="username" class="p-mb-2">Nome Completo</label>
                        <input type="text" pInputText [(ngModel)]="fullName" />
                      </div>
                    
                      <div class="input3 flex-column align-items-start">
                        <label for="Genero" class="p-mb-2">Gênero</label>
                        <p-dropdown 
                          [(ngModel)]="selectedGender" 
                          [options]="genders"
                          placeholder="Masculino">
                        </p-dropdown>
                      </div>
                    
                      <div class="input4 flex-column align-items-start">
                        <label for="date" class="p-mb-2">Data de Nascimento</label>
                        <input type="text" pInputText [(ngModel)]="date" (input)="onDateInput($event)" placeholder="dd/mm/yyyy"/>
                      </div>
                    
                      <div class="input5 flex-column align-items-start">
                        <label for="cpf" class="p-mb-2">CPF</label>
                        <input type="text" pInputText [(ngModel)]="cpf" (input)="onCpfInput($event)" placeholder="000.000.000-00"/>
                      </div>
                    </div>
                    
                    <div class="input-group flex-row">
                      <div class="input2 flex-column align-items-start">
                        <label for="RG" class="p-mb-2">RG</label>
                        <input type="text" pInputText [(ngModel)]="rg" (input)="onRgInput($event)" placeholder="Apenas números"/>
                      </div>
                    
                      <div class="input6 flex-column align-items-start">
                        <label for="dataEmissaoRg" class="p-mb-2">Data de Emissão</label>
                        <input type="text" pInputText [(ngModel)]="dataEmissaoRg" (input)="onDataEmissaoRgInput($event)" placeholder="dd/mm/yyyy"/>
                      </div>
                    
                      <div class="input7 flex-column align-items-start">
                        <label for="orgaoExp" class="p-mb-2">Órgão Exp.</label>
                        <input type="text" pInputText [(ngModel)]="orgaoExp" placeholder="Órgão Exp."/>
                      </div>
                    </div>
                    
                    <div class="input-group">
                      <div class="input8 flex-column align-items-start">
                        <label for="controleCliente" class="p-mb-2">Controle do Cliente</label>
                        <input type="text" pInputText [(ngModel)]="controleCliente" placeholder="Controle do Cliente"/>
                      </div>
                    </div>
                    
                    
                  
                    
                    
                      
                      
                      
                      








                  </div>
                </div>
                <div class="flex pt-4 justify-content-end">
                  <p-button 
                    label="Next" 
                    icon="pi pi-arrow-right" 
                    iconPos="right" 
                    (onClick)="nextCallback.emit()" />
                </div>
              </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Endereço">
              <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
                <div class="flex flex-column h-12rem">
                  <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    Content II








                  </div>
                </div>
                <div class="flex pt-4 justify-content-between">
                  <p-button 
                    label="Back" 
                    icon="pi pi-arrow-left" 
                    (onClick)="prevCallback.emit()" />
                  <p-button 
                    label="Next" 
                    icon="pi pi-arrow-right" 
                    iconPos="right" 
                    [ngStyle]="{'margin-left': '1rem'}" 
                    (onClick)="nextCallback.emit()" />
                </div>
              </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Anexos">
              <ng-template pTemplate="content" let-prevCallback="prevCallback">
                <div class="flex flex-column h-12rem">
                  <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    Content III











                  </div>
                </div>
                <div class="flex pt-4 justify-content-start"> 
                    <p-button 
                    label="Back" 
                    icon="pi pi-arrow-left" 
                    (onClick)="prevCallback.emit()" />
                </div>
              </ng-template>
            </p-stepperPanel>
          </p-stepper>
        </div>
      </p-card>
    </div>
  </div>
  